
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    line-height: 1.6;
    padding: 20px;
}

#lightning {
    height:70px;
    width:70px;
    position:absolute;
    margin-top: -130px;
    margin-left:40px;
}

header {
    text-align: center;
    background-image:linear-gradient(to right, rgb(239, 239, 100), rgb(84, 230, 84));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header h1 {
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-family: Poppins;
    font-size: 20px;
}


div {
    margin: 30px auto;
    max-width: 900px;
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}


ul {
    margin-left: 20px;
}


img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition:0.5s;
}

img:hover {
    max-width:420px;
    transition:0.5s;
}


#text {
    padding:60px;
    position:relative;
    color:black;
}